.kanban {
    display: flex;
    padding: 30px;
    width: 750px;
    background-color: rgb(139, 164, 202);
    border-radius: 10px;
}
.kanban * {
    font-family: sans-serif;
}
.kanban__column{
    flex: 1;
}
.kanban__column:not(:last-child){
    margin-right: 30px;
}
.kanban__column-title{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    user-select: none;

}
.kanban__item-input{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}
.kanban__dropzone{
    height: 10px;
    transition: background 0.15s, height 0.15s;
}
.kanban__dropzone--active {
    background: rgb(16, 51, 167);
    height: 21px;
}
.kanban__add-item {
    padding: 10px 0;
    width: 100%;
    color: white;
    font-size: 16px;
    background-color: rgb(8, 65, 91);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}